<div class="modal fade" id="logoutModal" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light px-1 mx-5" id="logoutModalBg">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel">Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-block" id="firstStepModal">
                <p>Anda yakin ingin keluar ?</p>
                <div class="row g-3 mt-3">
                    <div class="col-md-6">
                        <a href="../proses/logout.php" type="button"
                            class="button-3 d-grid text-white preload-link" style="background-color:grey"
                            data-bs-dismiss="modal" aria-label="Close">Keluar</a>
                    </div>
                    <div class="col-md-6">
                        <a type="button" class="button-3 d-grid text-white" data-bs-dismiss="modal"
                            aria-label="Close">Tidak</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>