<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0 px-4">
    <nav class="container-fluid">
        <a class="navbar-brand" href="../index.php"><span style="color: #2FDAD1;">E-</span>Legalisir</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.php">Beranda</a>
                </li>
            </ul>
            <nav class="nav-item dropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="register_alumni.php" class="nav-link mx-2 preload-link">Register</a>
                    </li>
                    <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Login
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end bg-glass-dark">
                        <li><a class="dropdown-item preload-link" href="login_alumni.php">Alumni</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item preload-link" href="login_admin.php">Admin</a></li>
                    </ul>
                </ul>
            </nav>
            <!--<nav class="nav-item dropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a href="register_alumni.php" class="button-register mx-2">Register</a>
                    <button type="button" class="button-login dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Login
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end input-glass">
                        <li><a class="dropdown-item" href="login_alumni.php">Alumni</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="login_admin.php">Admin</a></li>
                    </ul>
                </ul>
            </nav>-->
        </nav>
    </nav>
</nav>