<nav id="sidebar" class="nav-bg-light">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="container d-grid p-4 position-fixed" style="max-width: 270px">
        <h1><a href="../index.php" class="logo nav-link mb-1">E-Legalisir <span>Legalisir Ijazah dan
                    Transkrip</span></a></h1>
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="beranda_dekan.php" class="nav-link"><span class="fa fa-home mr-4"></span>Home</a>
            </li>
            <li class="active">
                <a href="list_pengajuan_dekan.php" class="nav-link preload-link"><span
                        class="fa fa-id-card mr-4"></span>List Pengesahan</a>
            </li>
            <li>
                <a id="theme-toggle" href="" class="nav-link"><span id="theme-icon"
                    class="fa fa-sun mr-4"></span>Ganti Tema</a>
            </li>
            <li>
                <a href="../proses/logout.php" class="nav-link preload-link"><span
                        class="fa fa-right-from-bracket mr-4"></span>Logout</a>
            </li>
        </ul>
        <!-- Footer -->
        <?php @include ($footerFile); ?>
        <!-- Footer -->
    </div>
</nav>