<nav id="sidebar" class="nav-bg-light">
    <article class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </article>
    <article class="container d-grid p-4 position-fixed" style="max-width: 270px">
        <h1><a href="../index.php" class="logo nav-link cursor-pointer mb-1">E-Legalisir <span>Legalisir Ijazah dan
                    Transkrip</span></a></h1>
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="beranda_dekan.php" class="nav-link cursor-pointer"><span class="fa fa-home mr-4"></span>Dashboard</a>
            </li>
            <li class="active">
                <a href="list_pengajuan_dekan.php" class="nav-link cursor-pointer preload-link"><span
                        class="fa fa-id-card mr-4"></span>List Pengesahan</a>
            </li>
            <li>
                <a href="#" id="theme-toggle" class="nav-link cursor-pointer"><span id="theme-icon"
                    class="fa fa-sun mr-4"></span>Ganti Tema</a>
            </li>
            <li>
                <a href="" class="nav-link cursor-pointer" onclick="openModal()" id="openModal" data-bs-toggle="modal"
                    data-bs-target="#logoutModal"><span class="fa fa-right-from-bracket mr-4"></span>Keluar</a>
            </li>
        </ul>
        <!-- Footer -->
        <?php @include ($footerFile); ?>
        <!-- Footer -->
    </article>
</nav>